<div class="container py-5">
    <h2 class="text-center mb-5 display-6 section-title">Leadership</h2>
    <div class="row justify-content-center g-4" id="leadership">
        {% for member in site.data.team.leadership %}
        {% include member-card.html
        name=member.name
        title=member.title
        image=member.image
        profile_url=member.profile_url
        description=member.description %}
        {% endfor %}
    </div>

    <h2 class="text-center mb-5 display-6 section-title mt-5">Team Members</h2>
    <div class="row justify-content-center g-4">
        {% for member in site.data.team.team %}
        {% include member-card.html
        name=member.name
        title=member.title
        image=member.image
        profile_url=member.profile_url
        description=member.description %}
        {% endfor %}
    </div>
</div>